form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
 
.input {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #000;
}

textarea {
    border-radius: 10px;
    padding-left: 4px;
}

::-webkit-input-placeholder {
    padding-left: 5px;
}

button[type="submit"]{
    width: 75px;
    padding: 2px 2.5px;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    transition: .5s;
}

button[type="submit"]:hover {
    transition: .5s;
    background-color: #0004;
}